Newsletter Data Dump Creation.json
{
  "name": "Newsletter Data Dump Creation",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EEFcyItS4QHrpHy8mk0qknQ55aWqkbN5k5DKERf921s",
          "mode": "list",
          "cachedResultName": "Newsletter Dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EEFcyItS4QHrpHy8mk0qknQ55aWqkbN5k5DKERf921s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Config"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "key",
              "lookupValue": "last_scraped_date"
            }
          ]
        },
        "options": {}
      },
      "id": "af2bab06-2b13-4924-9c9f-c6b11dac3599",
      "name": "Read Config Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFHCIe3QxodFLCCc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst rawDate = row.value || row.last_scraped_date || '2026-01-01';\nconst startDate = String(rawDate).split('T')[0];\nreturn [{ json: { start_date: startDate } }];"
      },
      "id": "f7988ac8-62c3-4b46-bb0f-935e89902533",
      "name": "Set Start Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "label:AI-Content OR label:\"GTM\"",
          "readStatus": "both",
          "receivedAfter": "={{ $json.start_date }}"
        }
      },
      "id": "07b6c9fb-7bd5-4473-8220-1e4d727fd2cf",
      "name": "Gmail Fetch Labeled Emails Only",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        -144
      ],
      "webhookId": "cff1ef8e-fb19-4dba-8994-56764faefb88",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "ab1Q0SaIWIwIUR86",
          "name": "Gmail account VysionAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function decodeBase64(str) {\n  try {\n    return Buffer.from(str.replace(/-/g,'+').replace(/_/g,'/'), 'base64').toString('utf-8');\n  } catch(e) { return ''; }\n}\n\nfunction findParts(parts, mimeType) {\n  let out = [];\n  if (!parts) return out;\n  for (const p of parts) {\n    if (p.mimeType === mimeType && p.body && p.body.data) {\n      out.push(decodeBase64(p.body.data));\n    }\n    if (p.parts) out = out.concat(findParts(p.parts, mimeType));\n  }\n  return out;\n}\n\nconst SKIP = ['UNREAD','INBOX','SENT','DRAFT','TRASH','SPAM','STARRED','IMPORTANT',\n  'CATEGORY_UPDATES','CATEGORY_PROMOTIONS','CATEGORY_SOCIAL','CATEGORY_FORUMS','CATEGORY_PERSONAL'];\n\nconst results = [];\nconst seen = new Set();\n\nfor (const item of $input.all()) {\n  const email = item.json;\n  if (!email || !email.id) continue;\n  if (seen.has(email.id)) continue;\n  seen.add(email.id);\n\n  // Gmail returns Subject/From/To as TOP-LEVEL keys (capital first letter)\n  const subject = email.Subject || email.subject || '';\n  const sender  = email.From    || email.from    || '';\n  let   date    = email.Date    || email.date    || '';\n\n  if (!date && email.internalDate) {\n    date = new Date(parseInt(email.internalDate)).toISOString();\n  }\n\n  // Body from payload parts\n  let body = email.text || '';\n\n  if (!body && email.payload) {\n    const pl = email.payload;\n    if (pl.body && pl.body.data) {\n      body = decodeBase64(pl.body.data);\n    }\n    if (!body && pl.parts) {\n      const txt = findParts(pl.parts, 'text/plain');\n      if (txt.length > 0) {\n        body = txt.join(' ');\n      } else {\n        body = findParts(pl.parts, 'text/html').join(' ');\n      }\n    }\n  }\n\n  if (body && body.indexOf('<') > -1) {\n    body = body\n      .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/\\s+/g, ' ')\n      .trim();\n  }\n\n  if (!body) body = email.snippet || '';\n\n  body = body.replace(/unsubscribe[\\s\\S]{0,300}$/i, '').trim();\n  if (body.length > 8000) {\n    body = body.substring(0, 8000) + '... [truncated]';\n  }\n\n  // labels is [{id, name}] — extract name, skip system labels\n  const labelNames = (email.labels || [])\n    .map(function(l) { return l.name || l.id || l; })\n    .filter(function(n) { return !SKIP.includes(n) && n.indexOf('Label_') !== 0; });\n\n  const sourceChannel = labelNames.join(', ') || 'labeled';\n\n  results.push({ json: {\n    email_id: email.id,\n    date: date,\n    sender: sender,\n    subject: subject,\n    body: body,\n    source_type: 'newsletter',\n    source_channel: sourceChannel,\n    processed: 'false',\n    scraped_at: new Date().toISOString()\n  }});\n}\n\nreturn results;"
      },
      "id": "b0b9de6b-1d2b-4921-b0f1-9850f35d059f",
      "name": "Deduplicate and Clean Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1EEFcyItS4QHrpHy8mk0qknQ55aWqkbN5k5DKERf921s"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Newsletter_Dump"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "email_id",
              "displayName": "email_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_channel",
              "displayName": "source_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "matched_keywords",
              "displayName": "matched_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "id": "a8ecc262-708e-4b31-998a-49584f689983",
      "name": "Write to Newsletter Dump",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        -160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFHCIe3QxodFLCCc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const total = $input.all().length;\nconst today = new Date().toISOString().split('T')[0];\nreturn [{ json: { total_written: total, today: today } }];"
      },
      "id": "bfb0ebba-6108-49f6-bfc2-ef4a2ddc802c",
      "name": "Count and Prep Config Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1EEFcyItS4QHrpHy8mk0qknQ55aWqkbN5k5DKERf921s"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Config"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "last_scraped_date",
            "value": "={{ $json.today }}",
            "notes": "Updated by W1 backfill run"
          },
          "matchingColumns": [
            "key"
          ],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "6544a29a-0452-402d-a28a-ca5d2d780dd3",
      "name": "Update Config Date to Today",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2224,
        -144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gFHCIe3QxodFLCCc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        496,
        -144
      ],
      "id": "39e48615-d3ae-4bd9-9d60-212eda678f7f",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Read Config Sheet": {
      "main": [
        [
          {
            "node": "Set Start Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Start Date": {
      "main": [
        [
          {
            "node": "Gmail Fetch Labeled Emails Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Fetch Labeled Emails Only": {
      "main": [
        [
          {
            "node": "Deduplicate and Clean Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate and Clean Emails": {
      "main": [
        [
          {
            "node": "Write to Newsletter Dump",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Newsletter Dump": {
      "main": [
        [
          {
            "node": "Count and Prep Config Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count and Prep Config Update": {
      "main": [
        [
          {
            "node": "Update Config Date to Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Config Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "8efa3401-5840-4299-ab87-408766d9a7e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dff72ec769133a889f7c0cfa6daaba222e29e067ccfc0b03f97f3c1f0537be7f"
  },
  "id": "VtGlyFjAvkHP9r2P",
  "tags": []
}